{% extends 'base.html' %} 
{% block title %}
<title> Delete Story </title>
{% endblock %}

{% block content %} 
<div class="container">
	<div class="row">
{% if user.is_authenticated %}

{% if user.id == post.author.id %}
<h3>Delete: {{ post.title }} </h3>
<br><br>

<div class="form-group">
<form method="post">
{% csrf_token %}
<strong> Are You Sure?!</strong>
<button class="btn btn-danger">Delete</button>
</div>
{% else %}
 <strong style="color:red"> You're not allowed to delete this post </strong>
 {% endif %}
{% else %}
<strong> You're not allowed to post yet, login <a href="{% url 'login' %}"> here </a> </strong> or register <a href="{% url 'register' %}"> here</a></strong>
{% endif %}
</div></div>

{% endblock %}
